@font-face {
	font-family: "Raleway";
	src: url("../Raleway/Raleway-VariableFont_wght.ttf"),
		 url("../Raleway-Italic-VariableFont_wght.ttf");
}
/* RESET GENERAL PAGES RESTAURANTS */
h2, h3, p
{
	margin: 0px;
}

figure{
	margin: 0px;
}
/* CSS GENERAL */
body{
    font-family: Raleway;
	text-align: center;
	margin: 0px;
	background-color: #F2F2F2;
}
/* COULEURS */
.white{
	color: white;
}
/* HEADER GENERAL */
.header_top{
	display: flex;
	justify-content: center;
	align-items: center;
}
/* COEURS */
.coeur_plein{
	display: none;

	&:hover{
		opacity: 100%;
		background-color: linear-gradient(170deg, #FF79DA, #9356DC );
		transition: 0.2s;
	}
}

.coeur_vide{

	&:hover{
		display: none;
		transition: 0.2s;
	}
}
/* ICON BACK */
.back_arrow_icon{
	position: absolute;
	top: 25px;
	margin-left: 30px;

	&:hover{
		color: #9356DC;
	}
}
/* LOGO */
#figure_ohmyfood{
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    
  }
  .logo_ohmyfood{
    width: 20%;
    min-width: 175px;
	margin-top: 5%;
	margin-bottom: 3%;
  }
/* IMAGE HEADER */
#header_plat_image{
	width: 100%;
	max-height: 500px;
	object-fit: cover;
}
/* TITRE A LA FRANCAISE */
#figure_relative{
	position: relative;

	.figcaption_titre{
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		border-radius: 30px 30px 0px 0px;
		background-color: #F2F2F2;
		bottom: 0px;

		h1{
			margin-left: 3%;
		}

		div{
			margin-right: 3%;
		}
	}
}
/* MAIN -> ENTREES PLATS DESSERTS */
main{
	margin-left: 3%;
	margin-right: 3%;

	h2{
		text-align: left;
		font-size: 1.1em;
		margin-bottom: 5%;
		margin-top: 5%;
		color: #616060;
		border-bottom: 3px solid #99E2D0;
		width: 45px;
		padding-bottom: 5px;
	}
	h3{
		font-size: 1em;
		font-weight: bolder;
		margin-bottom: 3%;
	}
}

.animation_hover{
	background-color: #99E2D0;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}
/* ENTREES */
.entrees_cartouche, .plats_cartouche, .desserts_cartouche{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 2%;
	background-color: white;
	border-radius: 15px;
	box-shadow: 0px 0px 5px #bbbbbb;
	padding: 10px 10px 10px 10px;
}

.cartouche_texte{
	text-align: left;
}

.cartouche_prix{
	font-weight: bolder;
}
/* BOUTON COMMANDER */
.commander{
	
	padding: 15px 0px 15px 0px;
	border-radius: 30px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 5%;
	background: linear-gradient(170deg, #FF79DA, #9356DC );

	a{
		text-decoration: none;
		color: white;
		font-size: 1.2em;
	}
}
/* FOOTER */
/* LOGO */
.logo_ohmyfood_footer
{
	width: 15%;
	min-width: 120px;
	margin-top: 15px;
	margin-bottom: 15px;
}
footer{
    border: 1px solid #3d3d3d;
    background-color: #3d3d3d;
	margin-top: 80px;
    padding-top: 2%;
    padding-left: 25px;
	text-align: left;

    a{
        text-decoration: none;
        color: white;
    }
}

.footer_texte{
	margin-bottom: 10px;
}

.footer_texte_a{
	display: flex;
	flex-direction: column;
	margin-bottom: 25px;
	
	a{
		margin-bottom: 10px;
	}
}

@media screen and (min-width: 768px) { /* pour format 768px et + */
	body{
		width: 60%;
		margin-left: auto;
		margin-right: auto;
	}

}