/* RESET GENERAL */
p{
    margin: 0px;
}
/* couleurs */
/*
.violet{
    color: #9356DC;
}
*/
/* fonctionnement > 3 boutons */
.rond_choix{
    border: 1px solid #9356DC;
    background-color: #9356DC;
    border-radius: 100px;
    width: 20px;
    height: 20px;

    p{
        color: white;
        padding-left: 6px;
        padding-top: 1px;
    }
}

.fonctionnement_boutons{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#choix_1, #choix_2, #choix_3{
    display: flex;
    align-items: center;
    .btn_choix{
        border-radius: 20px;
        min-width: 250px;
        min-height: 60px;
        background-color: white;
        border-color: white;
        box-shadow: 0px 0px 5px #F2F2F2;
    }

    :focus{
        background-color: #9256dc25;
    }
}