@font-face {
  font-family: "Raleway";
  src: url("../Raleway/Raleway-VariableFont_wght.ttf"), url("../Raleway-Italic-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Shrikhand";
  src: url("../Shrikhand/Shrikhand-Regular.otf");
}
/* RESET GENERAL PAGES RESTAURANTS */
h2, h3, p {
  margin: 0px;
}

figure {
  margin: 0px;
}

/* CSS GENERAL */
body {
  font-family: Raleway;
  text-align: center;
  margin: 0px;
  background-color: #F2F2F2;
}

h1 {
  font-family: Shrikhand;
}

/* COULEURS */
.white {
  color: white;
}

/* HEADER GENERAL */
.header_top {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* coeurs vide/plein */
.like {
  position: relative;
}

.coeur_vide {
  font-size: 20px;
}
.coeur_vide:hover {
  opacity: 0;
  transition: 0.1s;
}

.coeur_plein {
  position: absolute;
  opacity: 0;
  left: -7px;
  top: 0px;
  width: 35px;
}
.coeur_plein:hover {
  background: linear-gradient(40deg, #ff79da, #9356dc);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 23px;
  opacity: 1;
  transition: 0.3s;
}

/* ICON BACK */
.back_arrow_icon {
  color: #9356dc;
}
.back_arrow_icon:hover {
  color: #ff79da;
  transition: 0.5s;
}

/* LOGO */
#figure_ohmyfood {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}

.logo_ohmyfood {
  width: 20%;
  min-width: 175px;
  margin-top: 5%;
  margin-bottom: 3%;
}

/* IMAGE HEADER */
#header_plat_image {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}

/* TITRE A LA FRANCAISE */
#figure_relative {
  position: relative;
}
#figure_relative .figcaption_titre {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 30px 30px 0px 0px;
  background-color: #F2F2F2;
  bottom: 0px;
}
#figure_relative .figcaption_titre h1 {
  margin-left: 3%;
}
#figure_relative .figcaption_titre div {
  margin-right: 3%;
}

/* MAIN -> ENTREES PLATS DESSERTS */
main {
  margin-left: 3%;
  margin-right: 3%;
}
main h2 {
  text-align: left;
  font-size: 1.1em;
  margin-bottom: 5%;
  margin-top: 5%;
  color: #616060;
  border-bottom: 3px solid #99E2D0;
  width: 45px;
  padding-bottom: 5px;
}
main h3 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1%;
}

.animation_hover {
  display: flex;
  background-color: #99E2D0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 72px;
  width: 70px;
  align-items: center;
  justify-content: center;
  margin-right: -80px;
}

.check {
  font-size: 1em;
}

/* ENTREES */
.entrees_cartouche, .plats_cartouche, .desserts_cartouche {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2%;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 5px #bbbbbb;
  overflow: hidden;
  animation: fondu 3s;
  -moz-animation: fondu 3s;
  -webkit-animation: fondu 3s;
}
.entrees_cartouche:hover .animation_hover, .plats_cartouche:hover .animation_hover, .desserts_cartouche:hover .animation_hover {
  margin-right: 0px;
  transition: 0.3s;
}
.entrees_cartouche:hover .check, .plats_cartouche:hover .check, .desserts_cartouche:hover .check {
  transform: rotate(360deg);
  transition: 600ms 50ms ease-in-out;
  font-size: 1.5em;
}
.entrees_cartouche a, .plats_cartouche a, .desserts_cartouche a {
  text-decoration: none;
}

/* animation fondu entrees, plats et desserts */
@keyframes fondu {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@-moz-keyframes fondu {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@-webkit-keyframes fondu {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.cartouche_texte {
  text-align: left;
  width: 90%;
  padding: 10px 10px 10px 10px;
}
.cartouche_texte h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cartouche_texte p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cartouche_prix {
  font-weight: bold;
  padding: 10px 10px 10px 10px;
}

/* BOUTON COMMANDER */
.commander {
  padding: 15px 0px 15px 0px;
  border-radius: 30px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 5%;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  box-shadow: 0px 1px 5px #616161;
}
.commander a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
}
.commander:hover {
  background: linear-gradient(170deg, #fa87d9, #9d6fd6);
  box-shadow: 0px 5px 10px #616161;
}

/* FOOTER */
/* LOGO */
#footer_logo {
  width: 15%;
  min-width: 120px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: Shrikhand;
  color: white;
}

footer {
  border: 1px solid #3d3d3d;
  background-color: #3d3d3d;
  margin-top: 80px;
  padding-top: 2%;
  padding-left: 25px;
  text-align: left;
}
footer a {
  text-decoration: none;
  color: white;
}

.footer_texte {
  margin-bottom: 10px;
}

.footer_texte_a {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
.footer_texte_a a {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  /* pour format 768px et + */
  body {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 415px) {
  /* pour format 415px et - */
  .entrees_cartouche .cartouche_texte, .plats_cartouche .cartouche_texte, .desserts_cartouche .cartouche_texte {
    width: 75%;
  }
  .entrees_cartouche:hover .cartouche_texte, .plats_cartouche:hover .cartouche_texte, .desserts_cartouche:hover .cartouche_texte {
    width: 50%;
    transition: 0.3s;
  }
}

/*# sourceMappingURL=lanoteenchantee_style.css.map */
